     /* Add styles for container, header, and main content here */
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #14d3ff, #f49595);
  color: #fff; /*Цвет текста на странице*/
  background-attachment: fixed; /* Фон страницы фиксируется */
  background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
  background-size: 100%;
}
.card {
  width: 500px;
  background-color: rgba(214, 41, 25, 0.7);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #333;
  text-align: center;
  padding: 40px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
  padding: 20px;
}
h1 {
  margin: 0;
}
table {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
th, td {
  padding: 10px;
}
th {
  background-color: #D62D1C;
  color: #fff;
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-size: 18px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #F3C13A;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D62D1C;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
body{
      display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #14d3ff, #f49595);
        color: #fff; /*Цвет текста на странице*/
        background-attachment: fixed; /* Фон страницы фиксируется */
        background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
        background-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}