<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sidebar.title}"></title>
    <link rel="icon" th:href="@{/icons/icon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" th:fragment="sidebar">
        <h2>Tau Clinics</h2>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i><span th:text="#{sidebar.home}">Home</span></a></li>
            <li><a href="#"><i class="fas fa-user"></i><span th:text="#{sidebar.profile}">Profile</span></a></li>
            <li><a href="/about"><i class="fas fa-address-card"></i><span th:text="#{sidebar.about}">About</span></a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i><span th:text="#{sidebar.portfolio}">Portfolio</span></a></li>
            <li><a href="#"><i class="fas fa-blog"></i><span th:text="#{sidebar.blogs}">Blogs</span></a></li>
            <li><a href="#"><i class="fas fa-address-book"></i><span th:text="#{sidebar.contact}">Contact</span></a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i><span th:text="#{sidebar.map}">Map</span></a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main_content">
        <div class="header">
            Welcome!! Have a nice day.
            <div class="buttons" th:fragment="buttons">
                <button><img th:src="@{/icons/lang-en.png}"
                             onclick="window.location.href='http://localhost:8081/about/?local=en'"></button>
                <button><img th:src="@{/icons/lang-ru.png}"
                             onclick="window.location.href='http://localhost:8081/about/?local=ru'"></button>
                <button><img th:src="@{/icons/lang-kk.png}"
                             onclick="window.location.href='http://localhost:8081/about/?local=kk'"></button>
            </div>
        </div>
        <div class="info">
        </div>
    </div>
</div>
</body>
</html>