<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{welcome}"></title>
</head>
<body>
    <span th:text="#{hello}"></span><br>
    <span th:text="#{welcome}"></span><br>

    <br><span th:text="#{welcome}"></span>
    <button type="button" th:text="#{switch-en}"
        onclick="window.location.href='http://localhost:8081/?localeData=en'">
    </button>
    <button type="button" th:text="#{switch-ru}"
        onclick="window.location.href='http://localhost:8081/?localeData=ru'">
    </button>
    <button type="button" th:text="#{switch-kk}"
        onclick="window.location.href='http://localhost:8081/?localeData=kk'">
    </button>
</body>
</html>