<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{registration.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/verify.css}">
</head>
<body>
<form id="registerForm">
    <label for="iin" th:text="#{auth.iin.label}">ИИН:</label>
    <input type="text" id="iin" name="iin" th:placeholder="#{auth.iin.placeholder}" required><br><br>

    <label for="password" th:text="#{auth.password.label}">Пароль:</label>
    <input type="password" id="password" name="password" th:placeholder="#{auth.password.placeholder}" required><br><br>

    <label for="confirmPassword" th:text="#{auth.confirmPassword.label}">Подтверждение пароля:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" th:placeholder="#{auth.confirmPassword.placeholder}" required><br><br>

    <label for="email" th:text="#{auth.email.label}">Email:</label>
    <input type="email" id="email" name="email" th:placeholder="#{auth.email.placeholder}" required><br><br>

    <label for="fullname" th:text="#{auth.fullname.label}">Полное имя:</label>
    <input type="text" id="fullname" name="fullname" th:placeholder="#{auth.fullname.placeholder}" required><br><br>

    <label for="phoneNumber" th:text="#{auth.phoneNumber.label}">Номер телефона:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:placeholder="#{auth.phoneNumber.placeholder}" required><br><br>

    <input class="submit" type="submit" th:value="#{auth.register.submit}">
    <div class="question"><p th:text="#{auth.login.question}">Уже есть аккаунт? </p><a href="/auth" th:text="#{auth.link}">Войти</a></div>
</form>

<div id="error-message"></div> <!-- Для вывода сообщений -->
<script>document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Предотвращаем стандартное поведение формы (отправку)

    // Получаем данные из формы
    const iin = document.getElementById('iin').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const email = document.getElementById('email').value;
    const fullname = document.getElementById('fullname').value;
    const phoneNumber = document.getElementById('phoneNumber').value;

    // Формируем объект для отправки
    const data = {
        iin: iin,
        password: password,
        confirmPassword: confirmPassword,
        email: email,
        fullname: fullname,
        phoneNumber: phoneNumber
    };

    // Отправка POST-запроса на сервер
    fetch('registration', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
        .then(response => {
            // Обработка ответа от сервера
            if (response.ok) {
                // Если ответ успешный, выводим сообщение для пользователя
                window.location.href = '/auth';
            } else {
                // Если есть ошибки, читаем содержимое ответа и выводим сообщение об ошибке для пользователя
                response.json().then(data => {
                    showErrorMessage(`${data.message}`);
                });
            }
        })
        .catch(error => {
            // Обработка ошибок сети или других проблем
            console.error('', error);
            // Выводим сообщение об ошибке для пользователя
            showErrorMessage('error');
        });
    function showErrorMessage(message) {
        const errorMessage = document.getElementById('error-message');
        errorMessage.textContent = message;
        errorMessage.style.display = 'block';

        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 3000); // Скрыть сообщение об ошибке через 3 секунды (можете изменить значение по желанию)
    }
});</script>
</body>
</html>
