{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<style>
.product-image {
max-width: 500px;
margin: 0 auto;
}

.product-info {
text-align: center;
margin-top: 20px;
}

.product-name {
font-size: 24px;
font-weight: bold;
}

.product-price {
font-size: 18px;
margin-top: 10px;
}

.product-description {
margin-top: 20px;
font-size: 16px;
line-height: 1.5;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="product-image" src="{{ product.imageURL }}">
        </div>
        <div class="col-md-6">
            <div class="product-info">
                <h2 class="product-name">{{ product.name }}</h2>
                <h4 class="product-price">${{ product.price|floatformat:2 }}</h4>
                <a class="btn btn-outline-secondary add-btn" >В Корзину</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}