{% extends 'main/main.html' %}
{% load static %}
{% block content %}
    <style>
.product {
    position: relative;
}

.product .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.product:hover .overlay {
    opacity: 1;
}

.product .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}
</style>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class="product">
            <div class="overlay"></div>
            <img class="thumbnail" src="{{product.imageURL}}">

            <div class="box-element product-info">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>


                <h4 style="display: inline-block; right: 100px;"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>

            <div class="overlay">
                <div class="overlay-content">
                    <a class="btn btn-outline-success" onclick="scrollToProducts()" href="{% url 'product' product_id=product.id %}">В корзину</a>
                    <a class="btn btn-outline-success" onclick="scrollToProducts()" href="{% url 'product' product_id=product.id %}">Просмотр</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}

